header {
  padding: rem(60px) 0;

  .container {
    .row {
      align-items: center;

      [class*="col-"] {
        &:first-of-type {
          @media (max-width: $breakpoint-large) {
            margin-bottom: rem(60px);
          }

          blockquote {
            @include clamp-calc($min-grid-width, $max-grid-width, 30px, 70px, font-size);
            @include clamp-calc($min-grid-width, $max-grid-width, 38px, 78px, line-height);
            color: $primary;
            font-weight: 700;
            margin-bottom: 1.5rem;

            @include breakpoint(large) {
              margin-bottom: 3rem;
            }

            span {
              @include clamp-calc($min-grid-width, $max-grid-width, 22px, 40px, font-size);
              @include clamp-calc($min-grid-width, $max-grid-width, 30px, 48px, line-height);
              color: $dark;
              display: block;
            }
          }
        }
      }
    }
  }
}

