@font-face {
	font-family: 'Poppins';
	font-style: italic;
	font-weight: 300;
	font-display: auto;
	font-stretch: normal;
	src: url(../webfonts/Poppins-italic-300.woff) format('woff');
	unicode-range: U+0-10FFFF;
}

@font-face {
	font-family: 'Poppins';
	font-style: italic;
	font-weight: 400;
	font-display: auto;
	font-stretch: normal;
	src: url(../webfonts/Poppins-italic-400.woff) format('woff');
	unicode-range: U+0-10FFFF;
}

@font-face {
	font-family: 'Poppins';
	font-style: italic;
	font-weight: 500;
	font-display: auto;
	font-stretch: normal;
	src: url(../webfonts/Poppins-italic-500.woff) format('woff');
	unicode-range: U+0-10FFFF;
}

@font-face {
	font-family: 'Poppins';
	font-style: italic;
	font-weight: 700;
	font-display: auto;
	font-stretch: normal;
	src: url(../webfonts/Poppins-italic-700.woff) format('woff');
	unicode-range: U+0-10FFFF;
}

@font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 300;
	font-display: auto;
	font-stretch: normal;
	src: url(../webfonts/Poppins-normal-300.woff) format('woff');
	unicode-range: U+0-10FFFF;
}

@font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	font-display: auto;
	font-stretch: normal;
	src: url(../webfonts/Poppins-normal-400.woff) format('woff');
	unicode-range: U+0-10FFFF;
}

@font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 500;
	font-display: auto;
	font-stretch: normal;
	src: url(../webfonts/Poppins-normal-500.woff) format('woff');
	unicode-range: U+0-10FFFF;
}

@font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 700;
	font-display: auto;
	font-stretch: normal;
	src: url(../webfonts/Poppins-normal-700.woff) format('woff');
	unicode-range: U+0-10FFFF;
}

